body{
    background-image: url('./Assets/Asset-1.jpg');
}

.loginbox{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginboxform{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(20, 20, 20);
    padding: 1vw;
    border-radius: 2vw;
}

.login{
    margin-bottom: 1vw;
}

.userinputs{
    margin-bottom: 1vw;
}

.Wtp{
    color: white;
    font-size: 3vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input{
    background-color: rgb(42, 42, 42);
    font-style: italic;
    height: 5vh;
    width: 17vw;
    border-radius: 5px;
    border: none;
}

input::placeholder{
    padding-left: 10px;
}

.Sign-in{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 5vh;
    width: 17vw;
    background-color: rgb(47, 47, 47);
    color: white;
    font-weight: 700;
    font-size: medium;
    border-radius: 5px;
}
